<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>

    <!-- LINKS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!--  -->
  </head>
  <body>
    <!-- User Introduction -->
    <div class="intro">
      <h3>Hello <span id="name"></span>!</h3>
    </div>

    <!-- Skill Dropdown -->
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle "type="button" data-toggle="dropdown">Skill
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>Beginner</li>
        <li>Intermediate</li>
        <li>Expert</li>
      </ul>
    </div>

    <!-- Place Dropdown -->
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle "type="button" data-toggle="dropdown">Skill
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>Mammoth</li>
        <li>Tahoe</li>
        <li>Big Bear</li>
      </ul>
    </div>

    <!-- Logout -->
    <button type="button" class="btn btn-default btn-md">Log Out</button>

    <!-- Location Chat Heading and Skill Marker-->
    <div class="page-heading">
      <h1><span id="location-name"></span> <img src="" id="skill-icon"/></h1>
    </div>

    <!-- Page path -->
    <div class="pg-pth">
      <h5 class="page-path"></h5>
    </div>

    <!-- All Chat Elements -->

    <!-- Share -->
    <div class="form-group">
      <textarea class="form-control" rows="5" id="share-comment"></textarea>
      <button type="button" name="share-btn">Share</button>
    </div>

    <!-- Help -->
    <button type="button" name="help-btn">?</button>


    <script src="js/bootstrap.min.js" type="text/javascript"> </script>
  </body>
</html>
