<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>

    <!-- LINKS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!--  -->
  </head>
  <body>
    <!-- User Introduction -->
    <div class="intro">
      <h3>Hello {{user}}!</h3>
    </div>

    <!-- Skill Dropdown -->
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle "type="button" data-toggle="dropdown">Skill
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Beginner</a></li>
        <li><a href="#">Intermediate</a></li>
        <li><a href="#">Expert</a></li>
      </ul>
    </div>

    <!-- Place Dropdown -->
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle "type="button" data-toggle="dropdown">Location
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Snow Summit</a></li>
        <li><a href="#">Bear Mountain</a></li>
        <li><a href="#">Mammoth</a></li>
        <li><a href="#">Snow Valley</a></li>
      </ul>
    </div>

    <!-- Logout -->
    <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#logout">Log Out</button>
    <div id="logout" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h3>Are you sure you want to log out?</h3>
          </div>
          <div class="modal-footer">
            <a type="button" class="btn btn-danger" href="/logout">Yes, log me out</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Location Chat Heading and Skill Marker-->
    <div class="page-heading">
      <h1><span id="location-name">{{resort}}</span> - {{level}}<img src="" id="skill-icon"/></h1>
    </div>

    <!-- Page path -->
    <div class="pg-pth">
      <h5 class="page-path">login/search/home</h5>
    </div>

    <!-- Share Elements -->
    <div class="form-group">
      <textarea class="form-control" rows="5" id="share-comment"></textarea>
      <input type="submit" class="btn btn-primary" value="Share">
    </div>

    <!-- Help -->
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#helpModal">?</button>

    <div id="helpModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Help Documentation</h4>
          </div>
          <div class="modal-body">
            <p>The purpose of Summit is to allow users to freely share their experiences at different resorts and communicate with those who share the same interests. Users can decide a chat/community by specificying their skill levels and locations. Just simply start typing, leave your thoughts and click "Share" to post your comment.</p>
            <p>If you like what others have said, you can also start a one-on-one private conversation. </p>
            <p>If you have any other questions, please feel free to contact snow@summit.com. </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.js"></script>
  </body>
</html>
