<!DOCTYPE html>
<html>
<head>
	<title>Summit</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!-- fonts -->
	<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<!-- custom css -->
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/login.css" type="text/css">
</head>
<body>
<div class="container">
    <div class="row">
        <div align="center" class="col-sm-4 col-sm-offset-4">
            <a id="login" href="/auth/twitter">Login with Twitter</a>
        </div>
    </div>
</div>
</body>
</html>