<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!-- fonts -->
	<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<!-- custom css -->
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/search.css" type="text/css">
</head>

<body>



	<!--Help Button-->
	<div class="btn-group help-btn">
		<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#helpModal">?</button>
	</div>

	<!-- White box -->
	<div class="row form-row" >
	<h1>SUMMIT-CALIFORNIA EDITION</h1>
	<hr class="header-line"></hr>
		<div class ="form-box">
			<!--Share Experience-->
			<form id="required-form" action="/home" method="get" class="form_reset">
				<!-- Skill Dropdown menu -->
				<div class="form-group">
				  <label for="sel1">Select Skill Level:</label>
				  <select class="form-control skill-level" name="level" id="sel1">
				  	<option value="wrong" selected disabled style="display:none;">Select Your Skill Level</option>
				    <option>Beginner</option>
				    <option>Intermediate</option>
				    <option>Advanced</option>
				    <option>Expert</option>
				  </select>
				</div>



				<!-- Skill Resort -->
				<div class="form-group">
				  <label for="sel1">Select Ski Resort:</label>
				  <select class="form-control ski-resort" name="resort" id="sel2">
				  	<option value="wrong" selected disabled style="display:none;">Select a Ski Resort</option>
				    <option>Snow Summit</option>
				    <option>Bear Mountain</option>
				    <option>Mammoth</option>
				    <option>Snow Valley</option>
				  </select>
				</div>


				<!-- Share Experience -->
				<div class="btn-group">
					<input type="submit" value="Share Experience" class="btn btn-primary submit-btn"/>
				</div>
			</form>
		</div>
	</div>

	<div id="helpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Help Documentation</h4>
        </div>
        <div class="modal-body">
          <p>The purpose of Summit is to allow users to freely share their experiences at different resorts and communicate with those who share the same interests. Users can decide a chat/community by specificying their skill levels and locations. Just simply start typing, leave your thoughts and click "Share" to post your comment.</p>
          <p>If you like what others have said, you can also start a one-on-one private conversation. </p>
          <p>If you have any other questions, please feel free to contact snow@summit.com. </p>
        </div>
      </div>
    </div>
  </div>

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript">
		$("#required-form").submit( function ( event ){
			//event.preventDefault();			
			if ( ( $("#sel1").val() == null ) && ( $("#sel2").val() == null ))
			{
				alert("You must select valid skill level and ski resort");
				return false;
			}
			else if (  $("#sel1").val() == null )
			{
				alert("You must select valid skill level");
				return false;
			}
			else if ( $("#sel2").val() == null  )
			{
				alert("You must select valid ski resort");
				return false;
			}

		});

	</script>
</body>
</html>