body {
	padding: 50px;
	font: 14px;
	font-family: 'Oxygen', sans-serif; 
	background-image: url("../img/snow_mountains_50.png");
}

.form_reset{
	border: initial;
	border-radius: initial;
	background-color: initial;
	width: initial;
	height: initial;
}

a {
    color: #00B7FF;
}

/**
 * Add padding around the buttons
 */

